aiocontextvars==0.2.2
aiohttp==3.6.2
aiohttp-jinja2==1.2.0
apispec==3.3.2
async-timeout==3.0.1
asyncpg==0.21.0
attrs==20.1.0
chardet==3.0.4
coverage==5.2.1
filtrark==0.9.3
idna==2.10
iniconfig==1.0.1
injectark==0.6.0
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow==3.7.1
migrark==0.6.0
modelark==0.2.7
more-itertools==8.5.0
multidict==4.7.6
packaging==20.4
pluggy==0.13.1
py==1.9.0
PyGreSQL==5.2
pyparsing==2.4.7
pytest==6.0.1
pytest-aiohttp==0.3.0
pytest-asyncio==0.14.0
pytest-clarity==0.3.0a0
pytest-cov==2.10.1
six==1.15.0
tenark==0.8.3
termcolor==1.1.0
toml==0.10.1
uvloop==0.14.0
widark==0.3.3
yarl==1.5.1